{{ $baseurl := .Site.BaseURL}}
      <header role="banner">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" title="toggle navbar" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{$baseurl}}/">{{.Site.Title}}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{$baseurl}}/">Home</a></li>
                <li><a href="{{$baseurl}}/post/">All posts</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {{ with .Site.Params.domain }}
                <li>
                  <form class="search navbar-form navbar-right" role="search" action="https://www.google.com/search" method="GET">
                    <input type="hidden" name="sitesearch" value="{{.}}" />
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" name="q" />
                    </div>
                  </form>
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </nav>
      </header>
