<ul class="list-inline">
  {{ with .Site.Params.twitter }}
  <li>
    <a href="https://twitter.com/{{.}}" target="_blank">
      <i class="fa fa-twitter-square fa-lg"></i>
    </a>
  </li>
  {{ end }}

  {{ with .Site.Params.facebook }}
  <li>
    <a href="https://www.facebook.com/{{.}}" target="_blank">
      <i class="fa fa-facebook-square fa-lg"></i>
    </a>
  </li>
  {{ end }}

  {{ with .Site.Params.linkedin }}
  <li>
    <a href="https://www.linkedin.com/in/{{.}}" target="_blank">
      <i class="fa fa-linkedin-square fa-lg"></i>
    </a>
  </li>
  {{ end }}

  {{ with .Site.Params.github }}
  <li>
    <a href="https://github.com/{{.}}" target="_blank">
      <i class="fa fa-github-square fa-lg"></i>
    </a>
  </li>
  {{ end }}

  {{ with .Site.Params.bitbucket }}
  <li>
    <a href="https://bitbucket.org/{{.}}" target="_blank">
      <i class="fa fa-bitbucket-square fa-lg"></i>
    </a>
  </li>
  {{ end }}

  {{ with .Site.Params.slideshare }}
  <li>
    <a href="http://www.slideshare.net/{{.}}" target="_blank">
      <i class="fa fa-slideshare fa-lg"></i>
    </a>
  </li>
  {{ end }}
</ul>
